/python-small-projects/Rain_alert/sup.py
/python-small-projects/flight-deals-alert/again_flight_deal/
/python-small-projects/Flight-club/passkey.txt
/python-small-projects/Flight-club/.env
/web_python_small_projects/bs4_musical_time_machine/.cache
/web_python_small_projects/bs4_musical_time_machine/.env
/web_python_small_projects/Automated-amazon-price-tracker/.env
/web_python_small_projects/job_apply_linkedin_bot/.env
/web_python_small_projects/tinder_swiping_bot/.env
