
{% extends 'base.html'%}
{% from 'bootstrap5/form.html' import render_form %}
 {%block title%}Login{%endblock%}
     {%block content%}
<div class="container">
    <h1>Login</h1>
    <!-- This is where our form will go. -->
    <div class="container">
<!--        <form action="{{url_for('login')}}" method="POST" novalidate>-->
<!--                <p>-->
<!--                {{ form.csrf_token }}-->
<!--                {{form.hidden_tag()}}-->
<!--                {{form.name.label}}<br>{{form.name(size=30)}}-->
<!--                {%for err in form.name.errors%}-->
<!--                <span style="color:red; font-weight: bold;">{{err}}</span>-->
<!--                {%endfor%}-->
<!--                </p>-->
<!--                <p>-->
<!--                {{form.email.label}}<br>{{form.email(size=30)}}-->
<!--                {%for err in form.email.errors%}-->
<!--                <span style="color:red; font-weight: bold;">{{err}}</span>-->
<!--                {%endfor%}-->
<!--                </p>-->
<!--                <p>-->
<!--                {{form.password.label}}<br> {{form.password(size=30)}}-->
<!--                {% for error in form.password.errors %}-->
<!--                <span style="color:red; font-weight: bold;">{{error}}</span>-->
<!--                {%endfor%}-->
<!--                    </p>-->
<!--                <p>{{form.login}}</p>-->


<!--        </form>-->
    {{render_form(form)}}
    </div>
</div>
{%endblock%}